{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>

    {{ include('artist_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_artist_profile_index') }}">back to list</a>

    
{% endblock %}
