{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
<div class="title">
    <h2>Artistes indépendants</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                
                <th>Username</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                
                <td>{{ artist.username }}</td>
               
                <td>
                    <a href="{{ path('app_artist_profile_show', {'username': artist.username}) }}">show</a>
                    <a href="{{ path('app_artist_profile_edit', {'username': artist.username}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
