

{% block title %}New Artist{% endblock %}

{% block body %}
    <h1>Set up your profile</h1>

    {{ include('artist_profile/_form.html.twig') }}

    <a href="{{ path('app_artist_profile_index') }}">back to list</a>
{% endblock %}
