<h1 style="color:#0d17d9;">Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, visiter ce lien</p>

<a style="color:#0d17d9;" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien s'expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p style="color:#0d17d9;">Salutations</p>
