



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/request.css')}}"/>
<ul class="request">
   <li> <h1>Réinitialiser mot de passe</h1></li>
<li>
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}</li>
    </ul>
{% endblock %}
