{% extends 'base.html.twig' %}

{% block title %}Editer ProfessionalProfile{% endblock %}

{% block body %}


    <h1>Editer ProfessionalProfile</h1>

    {{ include('professional_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_professional_profile_index') }}">Annuler</a>

   
{% endblock %}
