{% extends 'base.html.twig' %}

{% block title %}New ProfessionalProfile{% endblock %}

{% block body %}
    <h1>Create new ProfessionalProfile</h1>

    {{ include('professional_profile/_form.html.twig') }}

    <a href="{{ path('app_professional_profile_index') }}">back to list</a>
{% endblock %}
