{% extends 'base.html.twig' %}



{% block body %}
    <h1>Edit Comission</h1>

    {{ include('comission/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    

    {{ include('comission/_delete_form.html.twig') }}
{% endblock %}
