{% extends 'base.html.twig' %}



{% block body %}
    <h1>Ajouter une nouvelle comission</h1>

    {{ include('comission/_form.html.twig') }}

    <a href="{{ path('app_home') }}">Anuler</a>
{% endblock %}
