{% extends 'base.html.twig' %}

{% block title %}Edit ArtLover{% endblock %}

{% block body %}
    <h1>Edit ArtLover</h1>

    {{ include('art_lover/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_art_lover_index') }}">back to list</a>

    
{% endblock %}
