body {
  background-color: #f5f4f2;
}
.photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  right: 105px;
}
.cover {
  width: 300px;
  height: 150px;
  position: relative;
  right: 40px;
  top: 0px;
}
.card {
  background-color: rgb(255, 255, 255);
  width: 260px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
  top: 50px;
  margin-left: 50px;
  height: 300px;
  margin-bottom: 150px;
}
.grid {
  display: inline-block;
}

.card h5 {
  color: #15212f;
  font-size: 16px;
  position: relative;
  right: 15px;
  top: 20px;
}
.card button {
  color: #fff;
  background-color: #0d17d9;
  border: none;
  width: 90px;
  height: 30px;
  font-weight: bold;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  left: 150px;
  cursor: pointer;
}
.arrow {
  padding-left: 10px;
}
