body {
  background-color: #f5f4f2;
}
.cover {
  width: 550px;
  height: 400px;
  padding-right: 50px;
}
.card {
  display: flex;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: 50px;
}
.card p {
  max-width: 500px;
  color: #15212f;
  text-align: left;
  font-size: 16px;
}
.section2 h5 {
  color: #15212f;
  font-size: 16px;
  font-weight: bold;
}
.section1 h5 {
  color: #15212f;
  font-size: 16px;
}
