body {
  background-color: #f5f4f2;
}
.card_cover {
  width: 240px;
  height: 180px;
  object-fit: cover;
}
.grid {
  display: inline-block;
}
.info {
  height: 35px;
}
.info h5 {
  color: #b1b1b1;
  font-size: 14px;
  margin-bottom: -15px;
  position: relative;
  bottom: 15px;
  left: 10px;
}
.price {
  color: #15212f;
  font-size: 16px;
  position: relative;
  left: 30px;
}
.arrow {
  position: relative;
  bottom: 55px;
  left: 190px;
}
.shop {
  display: flex;
  align-items: flex-start;
}

.playlist-filter li {
  font-size: 16px;
  font-weight: bold;
  color: #15212f;

  cursor: pointer;
}

.playlist-filter li.mixitup-control-active {
  border-bottom: 2px solid #0d17d9;
}
