body {
  background-color: #f2f2f2;
}
.check {
  text-align: center;
  font-weight: bolder;
  width: 1000px;
  height: max-content;
  display: block;
  margin: auto;
  position: relative;
  top: 200px;
}
