.hero {
  display: flex;
  align-items: center;
  height: 300px;
  background-image: linear-gradient(274deg, #e4ebf3 0%, #dae3ec 100%);
}

.hero img {
  height: 300px;
  padding-left: 200px;
}
.hero li {
  padding-left: 80px;
}
.hero button {
  color: #fff;
  background-color: #0d17d9;
  border: none;
  width: 97px;
  height: 50px;
  font-weight: bold;
}
.hero p {
  font-size: 20px;
  width: 550px;
}
