body {
  background-color: #f5f4f2;
}
.photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 20px;
}

.about {
  align-items: baseline;
  display: flex;
  padding-left: 60px;
}
.about p {
  color: #15212f;
  font-size: 17px;
  max-width: 600px;
}
.about h5 {
  color: #15212f;
  font-size: 19px;
  font-weight: bold;
}
.info h5 {
  color: #15212f;
  font-size: 16px;
  font-weight: bold;
}
.info {
  background-image: linear-gradient(274deg, #e4ebf3 0%, #dae3ec 100%);
  width: 670px;
  height: 400px;
}
.info li {
  margin-left: 100px;
}
.links img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  margin-top: 10px;
  filter: invert(11%) sepia(42%) saturate(531%) hue-rotate(171deg)
    brightness(100%) contrast(98%);
}
a:hover {
  color: #0d17d9;
  cursor: pointer;
}
.links a {
  text-decoration: none;
}
.bio {
  padding-left: 300px;
}
