body {
  background-color: #979ba0;
}
.request {
  background-color: #f5f4f2;
  width: 400px;
  height: 400px;
  margin-left: 450px;
  padding-top: 50px;
  margin-top: 100px;
}

.request li {
  list-style: none;
}
h1 {
  color: #15212f;
}
h4 {
  color: #15212f;
}
.btn {
  color: #fff;
  background-color: #0d17d9;
  border: none;
  width: 250px;
  height: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}
input[type="email"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="email"]:focus {
  background-color: lightblue;
}
a:hover {
  color: #0d17d9;
  cursor: pointer;
}
a {
  color: #15212f;
  font-weight: bold;
  font-size: 16px;
  margin-top: 50px;
  padding-left: 55px;
}
