.background {
  background-image: url("../images/1654450242585.png");

  background-attachment: fixed;
  background-size: contain;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.container ul {
  display: flex;
  align-items: flex-start;
}

h5 {
  padding-left: 10px;
  color: #15212f;
  font-size: 16px;
}
.remove {
  color: red;
  text-decoration: none;
}
.cover {
  width: 200px;
  height: 180px;
  object-fit: cover;
}
.info {
  display: flex;
  align-items: center;
  background-color: #f5f4f2;
  padding-left: 20px;
  margin-bottom: 30px;
  align-items: center;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
