{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/check.css')}}"/>
<div class="check">
    <h1 style="color:#0d17d9;">Un lien de vérification a été envoyé à votre compte</h1>
    <h3 style="color:#15212f;">Veuillez cliquer sur le lien qui vient d'être envoyé pour vérifier votre adresse e-mail et continuer le processus d'inscription.</h3>
<div>
{% endblock %}
