{% extends 'base.html.twig' %}



{% block body %}

    <h1>Editer l'oeuvre ArtWork</h1>

    {{ include('art_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_art_work_index') }}">Annuler</a>

    {{ include('art_work/_delete_form.html.twig') }}
{% endblock %}
