{% extends 'base.html.twig' %}



{% block body %}

    <h1>Ajouter une œuvre d'art</h1>

    {{ include('art_work/_form.html.twig') }}

    <button class="cancel"><a href="{{ path('app_home') }}">Annuler</a></button>
{% endblock %}
